#main{
    margin:2%;
}

.search{
    background-image: url("food12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
    background-color: aqua;
    height:400px;
    width:100%;
   
}
.search > a{
    font-size:20px;
    color:white;
    text-decoration:none;
    margin-left:60%;
    margin-top:50%;

}

#quicksearch{
    background-color:red;
    height:50%;
    width:100%;


}